@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Iran_Yekan";
  /* src: url("/Assets/Fonts/iranyekanwebbold.woff2"); */
  src: url("/Fonts/iranyekanwebregular.woff2") format("woff2"),
    url("/Fonts/iranyekanwebbold.woff2") format("woff2");

  /* src: url("/Assets/Fonts/IRANSansWeb_fa.woff"); */
}
* {
  font-family: "Iran_Yekan";
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* --primary-50: #ecfdf5;
  --primary-100: #d1fae5;
  --primary-200: #a7f3d0;
  --primary-300: #6ee7b7;
  --primary-400: #34d399;
  --primary-500: #10b981;
  --primary-600: #059669;
  --primary-700: #047857;
  --primary-800: #065f46;
  --primary-900: #064e3b;
  --primary-950: #022c22; */

  --primary-50: #f0f9ff;
  --primary-100: #e0f2fe;
  --primary-200: #bae6fd;
  --primary-300: #7dd3fc;
  --primary-400: #38bdf8;
  --primary-500: #0ea5e9;
  --primary-600: #0284c7;
  --primary-700: #0369a1;
  --primary-800: #075985;
  --primary-900: #0c4a6e;
  --primary-950: #082f49;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.gradiant_bg {
  /* background: -webkit-linear-gradient(#eee, #333); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tooltiptext {
  visibility: hidden;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.animate-delay-500 {
  animation-delay: 500ms;
}
.animate-delay-1000 {
  animation-delay: 1000ms;
}
.animate-delay-1500 {
  animation-delay: 1500ms;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: rgb(56 189 248);
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 50%;
  width: 90%;
  max-width: 480px;
  border-radius: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  animation: modal-animate 0.5s ease forwards;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
